<h2>Receive the following material from digitization department:</h2>
<!--<h3><b>Titel: {{itemFromAlma.bib_data.title}}</b></h3>-->
<!--<h3><b>Barcode i Maestro: </b> {{barcodeForMaestro}} </h3>-->
<!--<h3><b>Desk:</b> {{deskConfig.deskCode}} </h3>-->
<h3><b>Titel: </b></h3>
<h3><b>Barcode i Maestro: </b>  </h3>
<h3><b>Desk:</b>  </h3>
<div class="eca-actions">
    <button mat-raised-button color="primary"  (click)="receiveFromDigitization()" >
        Receive from digitization
    </button>
    <button mat-raised-button color="basic"  (click)="backToMain('Action cancelled')" >
        Cancel
    </button>
</div>
