<div>
    <mat-form-field>
        <mat-label>Barcode</mat-label>
        <input matInput #barcode (keyup.enter)="receiveFromDigitization()">
        <mat-hint>Scan a barcode using a barcode-scanner or enter a barcode and then press Enter.</mat-hint>
    </mat-form-field>
</div>
<h3><b>Desk code: </b> {{deskConfig.deskCode}} </h3>

<div class="eca-actions">
    <button mat-raised-button color="primary" [disabled]="isReceiving"  (click)="receiveFromDigitization()" >
        Receive from digitization
    </button>
    <button mat-raised-button color="basic"  (click)="resetForm('Action cancelled')" >
        Cancel
    </button>
</div>
