<p>Modtag materiale fra Digitalisering</p>
<div class="eca-actions">
    <button mat-stroked-button color="primary"  (click)="receiveFromDigitization()" >
        Receive from digitization
    </button>
    <button mat-stroked-button color="basic"  (click)="backToMain('Action cancelled')" >
        Cancel
    </button>
</div>

<div>
    <mat-card [style.display]="itemFromAlma? '' : 'none'">
        <mat-card-header>
            <mat-card-title>Itemdata from API</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <textarea #apiResultArea [value]="itemFromAlma | json"></textarea>
        </mat-card-content>
    </mat-card>
</div>
