<div>
  <mat-form-field>
    <mat-label>Barcode</mat-label>
    <input matInput #barcode (keyup.enter)="sendToDigitization()">
    <mat-hint>Scan a barcode using a barcode-scanner or enter a barcode and then press Enter.</mat-hint>
  </mat-form-field>
</div>
<h3><b>Desk code: </b> {{deskConfig.deskCode}} </h3>
<div>
    <mat-checkbox [(ngModel)]="isFraktur" *ngIf="deskConfig.frakture">
        <h3><b> Fraktur</b></h3>
    </mat-checkbox>
</div>
<div>
    <mat-checkbox [(ngModel)]="isMultivolume" *ngIf="deskConfig.multiform">
       <h3><b> Multi-Volume</b></h3>
    </mat-checkbox>
</div>
<div *ngIf="deskConfig.showTitle">
    <mat-form-field>
        <mat-label>Note</mat-label>
        <input matInput [(ngModel)]="note">
    </mat-form-field>
</div>
<div class="cloudapp-actions">
    <button mat-raised-button color="primary" [disabled]="isSending" (click)="sendToDigitization()" >
        Send to digitization
    </button>
    <button mat-raised-button color="basic" (click)="resetForm()" >
        Cancel
    </button>
</div>