#emptyList {
  max-width: 200px;
  margin: 0 auto;
  text-align: center;
}
.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  line-height: 23px;
}

span .eca-button{
  cursor: pointer;
  padding: 7px;
  border-radius: 50%;
}

mat-form-field,
.mat-form-field,
mat-checkbox,
mat-card-title,
h1 span
{
  width: 80%;
}

h1 span{
  display: inline-block;
}

mat-divider{
  margin-bottom: 30px;
  margin-top: 20px;
}

#updateConfigWithJason {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

.updateWithJason{
  display: flex;
  gap: 10px;
  flex-direction: column;
}
