#emptyList {
  max-width: 200px;
  margin: 0 auto;
  text-align: center;
}
.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  line-height: 23px;
}
/*
div.title {
  display: flex;
  margin-top: 10px;
}

mat-form-field{
  width: 100%;
}

.padding-top{
  padding-top: 30px;
}

.mat-icon{
  cursor: pointer;
}

.title h1 {
  background-color: #1a5e1f!important;
  color: #fff!important;
  padding: 10px;
  border-radius: 4px;
  margin-top: 10px;
  width: 100%;
}

.back-container{
  width: 100%;
  text-align: right;
}
*/

