
<h3><b>currentlyAtDept:</b> {{currentlyAtDept}} </h3>
<h3><b>currentlyAtLibCode: </b> {{currentlyAtLibCode}} </h3>
<mat-form-field>
  <mat-label translate>Main.ScanLabel</mat-label>
  <input matInput #barcode (keyup.enter)="scanBarcode()" autocomplete="off">
</mat-form-field>
<app-send-material *ngIf="readyForDigitizationDept"
                   [itemFromAlma]="itemFromApi"
                   [department]="this.currentlyAtDept"
                   (backToMainEvent)="handleBackToMain($event)"
                    (loading)="updateLoading($event)">
</app-send-material>
<app-receive-material *ngIf="returnFromDigitizationDept"
                      [itemFromAlma]="itemFromApi"
                      (backToMainEvent)="handleBackToMain($event)"
></app-receive-material>

<div class="loading-shade" *ngIf="loading">
  <mat-spinner diameter="50"></mat-spinner>
</div>
