<div class="loading-shade" *ngIf="loading">
    <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
</div>

<div *ngIf="deskConfig">
    <h3><b>Your current Desk: </b> {{deskConfig.deskName}} </h3>
    <mat-tab-group>
        <mat-tab label="Send To Digitization">
            <app-send-material
                    [deskConfig]="deskConfig"
                    (loading)="updateLoading($event)"
                    [libCode]="currentlyAtLibCode"
                    [institution]="institution"
                    [almaUrl]="almaUrl"
                    [inputLabel]="inputLabel"
            >

            </app-send-material>
        </mat-tab>

        <mat-tab label="Receive From Digitization">
            <app-receive-material
                    [deskConfig]="deskConfig"
                    (loading)="updateLoading($event)"
                    [libCode]="currentlyAtLibCode"
                    [institution]="institution"
                    [almaUrl]="almaUrl"
                    [inputLabel]="inputLabel"
            >
            </app-receive-material>
        </mat-tab>
    </mat-tab-group>
</div>
