.dialog-header {
  padding-bottom: 15px;
}

.dialog-content {
  padding: 5px;
  max-height: 500px;
  overflow-y: auto; /* Enables vertical scrolling */
}

.dialog-footer {
  padding-top: 15px;
  border-top: 2px solid #f5f5f5;
}
